body {

}
.main-content{
    margin: 50px;
    gap: 50px;
    display: flex;
}
.main-content img {
    left: 20px;
    width: 500px;
    height: auto;
}
.main-content p {
    width: 700px;
    right: 500px;
    font-family: "Jersey 10", sans-serif;
    font-style: normal;
    font-size: 30px;
    text-align: justify;
    align-items: center;
    color: #401D1D;
}


.textdesc {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
}

.btn-start {
    width: 200px;
    color: #401D1D;
    background-color: #D2AF3D;
    border-radius: 25px;
}

