/* General Styles */
body {
    font-family: 'Jersey 10', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

h1, h2, h3 {
    color: #401D1D;
    margin-bottom: 10px;
}

section {
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

/* Welcome Section */
h1 {
    text-align: center;
    margin-top: 20px;
}

/* Quick Actions Section */
button {
    background-color: #401D1D;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    button:hover {
        background-color: #D2AF3D;
    }

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

    table th, table td {
        text-align: left;
        padding: 10px;
        border: 1px solid #ddd;
    }

    table th {
        color: #401D1D;
    }

    table tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    table tr:hover {
        background-color: #e9ecef;
    }

a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

    a:hover {
        color: #0056b3;
    }

.prod_balance {
    display: flex;
    justify-content: space-between; 
    width: 100%; 
}