@page
@model IndexModel
<!DOCTYPE html>
<html>
<head>
    <title>CIT-U Crate</title>
    <link rel="stylesheet" href="~/css/indexstyle.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main-content">
        <img src="~/images/indeximg.png" alt="img" class="indeximg">
        <p class="textdesc">
            Welcome to CIT-U Crate: Your On-Campus Delivery Solution!
            Imagine the convenience of having everything you need—right 
            at your fingertips—without having to leave your classroom or 
            dorm. Whether you're in need of school supplies, books, or 
            even campus essentials, CIT-U Crate has you covered.
            <br />
            <br />
            Our delivery service brings the best of CIT University right 
            to your doorstep. Simply browse, order, and let our campus 
            facilities deliver everything you need quickly and hassle-free. 
            With CIT-U Crate, you can stay focused on your studies and 
            activities while we handle the rest.
            <br />
            <br />
            Fast, Reliable, Convenient—that's CIT-U Crate, making campus 
            life easier one delivery at a time.
            <br />
            <button class="btn-start">Start Crating</button>
        </p>
    </div>
    
</body>
</html>
