@page
@model CITUCrate.Pages.Buyer.MyOrderModel
@{
    ViewData["Title"] = "My Orders";
}

<h2>My Orders</h2>

<table class="table">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Total</th>
            <th>Status</th>
            <th>Delivery Location</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model.Orders)
        {
            <tr>
                <td>@order.Id</td>
                <td>@order.Total</td>
                <td>@order.Status</td>
                <td>@order.deliveryLocation</td>
                <td>
                    <a href="/Buyer/PaymentPage/@order.Id" class="btn btn-primary">Buy Now</a>
                </td>
            </tr>
        }
    </tbody>
</table>
